<!DOCTYPE html>
<html>
  <head>
    <title>Bullytron</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<header class= "header">
  		aqui debe ir tu header
  		<div class= "container">
    		<%= yield %> <!-- y justo aqui es donde entraran todos tus htmls cada que se cargue una vista -->
  		</div>
  	</header>
  </body>
</html>
