<!DOCTYPE html>
<html>
<head>
	<title>Table</title>
</head>
<body>
 <style>
 
 </style>
	<table style="border-spacing: 0; border-collapse: collapse;	max-width: 600px; width: 600px; height: 1024px; background-image: url('img/back.jpg');">
		<tbody>
			<tr>
				<td style= "padding: 0 149px 258px;">
					<p style = "margin: 0;text-align: center;">Nuestros martes cada vez son mas deliciosos</p>
					<p style = "margin: 0;text-align: center;">porque preparamos una galleta especial para ti</p>
					<p style = "margin: 0;color: white;text-align: center;"><em>Esta vez es el turno de las galletas organicas!</em></p>
				</td>				
			</tr>	
			<tr style="height:90px; ">
				<td style="padding: 0px 177px 31px;">
					<p style = "margin: 0; text-align: center;">No olvides que solo los martes podras</p>
					<p style = "margin: 0; text-align: center;">ordenarlas con un 15% de descuento.</p>
					<p style="color: #50B093;margin: 0;text-align: center;"><em>Simplemente.. DELICIOSAS!</em></p>
				</td>				
			</tr>
			<tr style=" height:119px;">
				<td style="padding-bottom: 53px; text-align: center;">
					<a style="padding-left: 10px;padding-right: 10px;" href=""><img  src="img/mailing-milkella-03.jpg"></a>
					<a style="padding-right: 10px;padding-left: 10px;" href=""><img src="img/mailing-milkella05.jpg"></a>
					<a style="padding-right: 10px;padding-left: 10px;" href=""><img  src="img/mailing-milkella07.jpg"></a>
				</td>
			
			</tr>
			<tr style="	 height: 26px;">
				<td>
					<p style="margin: 0;color: white; text-align: center;">Visita tambien <span><a style="color: #50B093;text-decoration: none;" href="">www.mikella.mx</a></span></p>
				</td>
			</tr>
		</tbody>
		
	</table>
</body>
</html>