<p id="notice"><%= notice %></p>
<p>
  <strong>Name:</strong>
  <%= @person.name %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @person.lastname %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @person.photo %>
</p>