<h1>Contacts#show</h1>
<p>Find me in app/views/contacts/show.html.erb</p>

<p>
	<label>ID: </label><%= @contact.id %>
</p>

<p>
	<label>Nombre: </label><%= @contact.name %>
</p>

<p>
	<label>Lastname: </label><%= @contact.lastname %>
</p>

<p>
	<label>Genero: </label> <%= @contact.gender %>
</p>

